name: weather_app
description: A simple weather app built with Flutter
publish_to: 'none' # remove if you plan to publish on pub.dev

environment:
  sdk: '^3.9.0'

dependencies:
  flutter:
    sdk: flutter
  flutter_dotenv: ^6.0.0
  cupertino_icons: ^1.0.8
  http: ^1.5.0
  material: ^1.0.1
  cached_network_image: ^3.3.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
  assets:
    - .env
